@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-shadow{
  text-shadow: 1px 1px 2px #000000;
}

.search{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body{
  padding: 125px 0 125px 0;
}

ul.firstList li::marker{
  color: #386abb;
}

ul.secondList li::marker{
  color: #ffcc03;
}

.linkColor{
  color: #386abb;
}

.bg-31{
  background-color: #313131;
}

.modeDropdown{
  color:white;
  background-color: #313131;
  padding: 7px;
  min-width: 350px;
  cursor: pointer;
  font-size: 18px;
}

.modeDropdown > option{
  background-color: #616161;
  
  text-align:center;
}

.modeDropdown > option:hover{
  background-color: #313131 !important;
}

.errorPage{
  height: calc(100vh - 300px);
}