@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
}

.text-shadow{
  text-shadow: 1px 1px 2px #000000;
}

.preBtn, .nextBtn{
  background-color: #282936;
}